@layer reset {
	html[data-reduced-motion="reduce"] *,
	html[data-reduced-motion="reduce"] *::before,
	html[data-reduced-motion="reduce"] *::after {
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
	}
}
